:root {
    --primary-font: 'Kanit', sans-serif, Arial;
}

body {
    font-family: var(--primary-font);
}
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;

    scroll-behavior: smooth;
}

.h1top h1{
    display: none;
}


/* ------------------------------------------------------------- */


header {
    width: 100%;
    height: 300px; /* Aquí defines la altura específica */
    background-color: rgb(20, 20, 20);
    background-image: url('/front/img/FONDOHEADER.jpg'); /* Cambia esto por la ruta de tu imagen */
    background-size: cover; /* La imagen cubrirá todo el header */
    background-position: center; /* Centra la imagen en el header */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    display: flex;
    justify-content: center; /* Centra horizontalmente el contenido dentro del header */
    align-items: center; /* Centra verticalmente el contenido dentro del header */
    
}


.header-up {
    height: 250px; /* Altura específica del contenedor después del header */
    display: flex;
    justify-content: center;
    width: 100%;
   
}

/* .logo {

    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
} */

.logo img {

    height: 140%;
    width: auto;
}


/* ----------------------------------------------------------- */
    
.img-background {
    position: relative;
    left: 0;
    width: 100%;
    height: calc(100% - 300px);
    z-index: -1;
    top: auto;
}

.img-background img {
    width: 100%;

    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}


/* ------------------------------------------------------------ */





.add-peliculas {
    display: flex;
    flex-direction: column;
    padding: 80px 0px;
    margin: 0;
    justify-content: center;
    align-items: center;
}

.form-peliculas {
    margin: 10px;
    border-radius: 20px;
    min-width: 45vw;
    /* min-height: 60vh; */
    display: flex;
    flex-direction: row; /* Para colocar las columnas una al lado de la otra */
    justify-content: space-between; /* Espacio entre las columnas */
    padding: 20px; /* Padding para separación interna */
    /*  background-color: #000000; */
    background-color: rgba(0, 0, 0, 0.756);
    border: none;
    flex-wrap: wrap;
}

.form-column {
    width: 47%; /* Ajusta según sea necesario */
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 0;
    padding: 15px;
    text-transform: uppercase;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    text-align: center;
}
.form-group label{
   /*  background-color: blanchedalmond; */
    padding: 5px;
    border-radius: 5px;
}



.form-group input{
    height: 2.8rem;
    font-weight: 200;
    padding-right: 30px;
    border: 2px solid rgba(0, 0, 0, 0.3);
    padding: 3.75px 7.5px;
    width: 100%;  
    border-radius: 10px;
    border-width: 1px;
   
    
}


.form-group input::placeholder{
    font-size: 14px;
    font-weight: 400;
}

#nuevo-descripcion {
    resize: none; /* Deshabilita la capacidad de redimensionar el textarea */
}



/* ---------------------------------------------------------------- */

.btncontact {
    display: flex;
    justify-content: center;
    padding: 20px 25px;
    width: 100%;
    
}



button[type="submit"] {
    background-color: #ffffff; /* Color de fondo */
    color: #000000; /* Color del texto */
    font-size: 19px; /* Tamaño de la fuente */
    padding: 12px; /* Espaciado interno */
    border: 1px solid #000000; /* Sin borde */
    cursor: pointer; /* Cursor de mano al pasar el mouse */
    border-radius: 15px; /* Radio del borde para bordes redondeados */
    text-align: center; /* Alineación del texto */
    width: 100%;
    display: block;
    line-height: 20px; 
    outline: none;
}

button[type="submit"]:hover {
    background-color: #000; /* Cambia el fondo a negro */
    color: #fff; /* Mantiene las letras blancas */
    font-size: 19px; /* Tamaño de la fuente */
    padding: 12px; /* Espaciado interno */
    border: 1px solid black; /* Sin borde */
    cursor: pointer; /* Cursor de mano al pasar el mouse */
    border-radius: 15px; /* Radio del borde para bordes redondeados */
    text-align: center; /* Alineación del texto */
    width: 100%;
    display: block;
    line-height: 20px; 
    outline: none;
    
}

button:hover {
    cursor: pointer;
}
/* ------------------------------------------------------------------ */
.tabla-section {
    display: flex;
    justify-content: center;
    width: 100%;
}

.tabla-peliculas {
    width: 80%; /* Ajusta el porcentaje según necesites */
    border-collapse: collapse; /* Opcional: para que no haya espacio entre las celdas */
    background-color: rgba(0, 0, 0, 0.756);
    border-radius: 10px;
}

.tabla-peliculas td {
    padding: 10px;
    text-align: center;
    background-color: rgb(201, 184, 151);
    word-wrap: break-word; /* Permite que las palabras se rompan y salten a la siguiente línea */
    word-break: break-all; /* Rompe las palabras largas */
}

.tabla-peliculas th {
    padding: 20px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    font-size: 16px;
    font-weight: 300;
}

.tabla-peliculas th:nth-child(1), 
.tabla-peliculas td:nth-child(1) { width: 15%; }
.tabla-peliculas th:nth-child(2), 
.tabla-peliculas td:nth-child(2) { width: 35%; }
.tabla-peliculas th:nth-child(3), 
.tabla-peliculas td:nth-child(3) { width: 7%; }
.tabla-peliculas th:nth-child(4), 
.tabla-peliculas td:nth-child(4) { width: 5%; }
.tabla-peliculas th:nth-child(5), 
.tabla-peliculas td:nth-child(5) { width: 20%; }
.tabla-peliculas th:nth-child(6), 
.tabla-peliculas td:nth-child(6) { width: 7%; }
.tabla-peliculas th:nth-child(7), 
.tabla-peliculas td:nth-child(7) { width: 13%; }

tr {
    border-top: 1px solid black;
    border-left: none;
    border-right: none;
    border-bottom: none;
}

tr:first-child {
    border-top: none;
}

/* --------------------------------------------------------- */

.button-eliminar {
    background-color: #673737;
    color: #ffffff;
    border: none;
   padding: 7px;
   margin-right: 3px;
   border-radius: 3px;
}

.button-editar {
    background-color: #415c79;
    color: #ffffff;
    border: none;
    padding: 7px;
    border-radius: 3px;
}